@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,700&display=swap');

$lavander-strong: #CDC1FF;
$lavander-light: #F7F5FF;
$pink-light: #FFE6E6;
$pink-strong: #FF74AF;
$purple-shadow: #740050;
$purple-outline: #690940;

body {
    background-color: $lavander-strong;
}